# ==============================
# ROS2 build artifacts
# ==============================
build/
install/
log/

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# ==============================
# C/C++
# ==============================
*.o
*.so
*.a
*.out

# ==============================
# VSCode / IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Misc
# ==============================
*.log
*.tmp

# ==============================
# Note
# ==============================
*.gv
*.pdf
*.txt
